<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Emotion Dating</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/statementStyle.css') }} ">
</head>

<body>
    <div id="home-container">
        <div id="logo">
            <img src="{{ url_for('static', filename='image/logo_dating.png') }}" height="270px" width="316.8px*">
        </div>
        <div id="indexContent">
            <h1 id="first-headline">Welcome to AImotional Dating</h1>
        </div>
        <div id="indexContent2">
            <p>Preventing a broken heart since 2022.</p>
        </div>
        <div id="username">
            <form id="form-items" action="/" method="post">
                <div style="display: flex; flex-direction: column;">
                    <div style="align-self: flex-end; margin-bottom: 1rem;">
                Username: <input type="text" name="usernameInput" style="height:20px;width:120px;font-size:20px;" required>
                    </div>
                    <div style="align-self: flex-end">
                Partner: <input type="text" name="partnerInput" style="height:20px;width:120px;font-size:20px;" required>
                    </div>
                </div>
                <div id="startButton">
                    <button type="submit" id="start">Test Starten</button>
                </div>
            </form>
        </div>
    </div>
</body>


</html>