<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Emotion Dating</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/statementStyle.css') }} ">
</head>

<body>
    <div id="home-container">
        <div id="content">
            <div id="sidebar-line">
                <div id="sidebar">
                    <h1><span id="userName">Username: {{ name }}</span></h1>

                    <div id="logo">
                        <img src="{{ url_for('static', filename='image/logo_dating.png') }}" width="178px">
                    </div>
                </div>
                <div id="line"></div>
            </div>
            <!-- get new items here -->

            <div id="statement-container" style="width: 100%">
                <div id="person1">
                    <img src="{{ url_for('static', filename='image/jonas.jpg') }}" height="330px" width="280px">
                    <p>{{ names[0] }}</p>
                </div>
                <div class="center">
                    <button type="button" id="yes" onclick="yes()">Yes</button>
                    <button type="button" id="no" onclick="no()">No</button>
                </div>
            </div>

            <!-- <form method="post">
                  <button type="submit" id="moveOn">Move on</button>
              </form>-->
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/partner.js') }} "></script>

</html>