<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Emotion Dating</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/statementStyle1.css') }} ">
</head>

<body>
    <div id="user1Box">
        <video width="300" height="300" controls></video>
    </div>

    <div id="countDown">
        <h1><span id="show">Recording: 10 s</span></h1>
    </div>

    <div id="logo">
        <img src="{{ url_for('static', filename='image/logo_dating.png') }} " height="225x" width="264px*">
    </div>

    <div id="line"></div>

    <div id="username">
        <h1><span id="userName">Username: </span></h1>
    </div>
    <div>
        <div id="statement">
            <p>Sex ist für mich nebensächlich.</p>
        </div>

        <div id="statementImg">
            <img src="{{ url_for('static', filename='image/1.jfif') }} " height="400px" width="600px">

            <form method="post">
                <button type="submit" id="moveOn">Move on</button>
            </form>
        </div>


    </div>
    <div id="buttons">
        <button type="button" id="startRecording">Start Recording</button>
        <button type="button" id="exportVideo">Next Question</button>

    </div>
</body>

<script src="{{ url_for('static', filename='js/statement1.js') }} "></script>

</html>