<!doctype html>
<html lang="en">
	
<head>
    <meta charset="utf-8">
    <title>Emotion Dating</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="CSS/statementStyle4.css">
</head>

<body>
    <div id="user1Box">
        <video width="300" height="300" controls></video>
    </div>

    <div id="countDown">
        <h1><span id="show">Recording: 10 s</span></h1>
    </div>

    <div id="logo">
        <img src="image/logo_dating.png" height="225x" width="264px*">
    </div>

    <div id="line"></div>

    <div id="username">
        <h1><span id="userName">Username: </span></h1>
    </div>

    <div id="statement">
        <p>Eifersucht und ein bisschen Kontrolle ist ein Ausdruck von Liebe.</p>
    </div>

    <div id="statementImg">
        <img src="image/5.jfif" height="400px" width="600px">
    </div>

    <div id="buttons">
        <button type="button" id="startRecording">Start Recording</button>
        <button type="button" id="exportVideo">Next Question</button>
    </div>
    
</body>

<script>
    const startBtn = document.querySelector("#startRecording"); 
    const exportBtn = document.querySelector("#exportVideo");  
    const videoEl = document.querySelector("video");  

    let videoData = [];
    let cameraStream = null; 
    let mediaRecorder = null; 

    window.addEventListener('load', () => {
        const constraints = {
            // audio: true,
            video: {
            width: 300,
            height: 300
            }
        };
        navigator.mediaDevices.getUserMedia(constraints).then(stream => {
            cameraStream = stream;
            videoEl.controls = false;
            videoEl.srcObject = cameraStream;
            videoEl.play();
        }).catch(info => {
            alert('error' + info);
        });

        var str = window.location.search;
        if (str.indexOf(name) != -1) {
            var username = str.slice(6);
            if (username.length != 0) {
                document.getElementById('userName').innerHTML = "Username: " + username;
            } else {
                alert("No value found");
            }
        };
    });

    startBtn.addEventListener('click', () => {
        mediaRecorder = new MediaRecorder(cameraStream, {mimeType: 'video/webm'});
        mediaRecorder.start();
        console.log("recording started");
        mediaRecorder.addEventListener('dataavailable', ev => {
            videoData.push(ev.data);
        });
        mediaRecorder.addEventListener('stop', () => {
            videoData = new Blob(videoData);
        });

        var t = 9;
        var t_1 = 3;
        setInterval(() => {
            if (t < 0) {
                // console.log("recording stopped");
                // mediaRecorder.stop();
                return;
            }
            document.getElementById('show').innerHTML = "Recording: "+ t + "s";
            t--;
        }, 1000);

        setInterval(() => {
            if (t_1 == 0) {
                console.log("recording stopped");
                mediaRecorder.stop();
                return;
            }
            t_1--;
        }, 1000);
    });

    exportBtn.addEventListener('click', () => {
        if (videoData === null) return false;
        const link = document.createElement('a');
        link.href = URL.createObjectURL(videoData);
        link.download = 'statement4.webm';
        link.click();
        var str = window.location.search;
        if (str.indexOf(name) != -1) {
          var username = str.slice(6);
        }
        location = "statement5.html?name="+username;
    });

</script>

</html>